#clientes-container {
  display: flex;
  flex: 1;
  /* background-color: antiquewhite; */
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */
  height: 60vh;
  width: 60vw;
}
